==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/dist/css/bootstrap.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/animate.css/animate.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/plyr/dist/plyr.css'|theme }}">
    


    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    {% styles %}

  </head>
  <body>

	{% partial 'navbar' %}

  {% partial 'jumbotron' %}

  <section id="page" class="container m-b-3">
    {% page %}
  </section>

  <script src="{{ 'assets/vendor/jquery/dist/jquery.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/tether/dist/js/tether.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/wow/dist/wow.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/holderjs/holder.min.js'|theme }}"></script>
  <script src="{{ 'assets/vendor/plyr/dist/plyr.js'|theme }}"></script>
  <script src="{{ 'assets/js/scripts.js'|theme }}"></script>

    {% framework extras %}
    {% scripts %}
    {% partial 'footer' %}
  </body>

</html>