title = "Genres"
url = "/genres/:page?"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Louisjullien\Movies\Models\Genre"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "genre_title"
noRecordsMessage = "No records found"
detailsPage = "genresdetail"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 5
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% put jumbotron %}

	<div class="container text-xs-center">
		{% placeholder jumbotron default %}
		<h1 class="display-3">Page de genres</h1>
		<p class="lead">Type de genres avec liste des films.</p>
		{% endplaceholder %}
	</div>

{% endput %}
<div class="films">
	<ul class="record-list">
		{% for record in records %}
			<li>
				<h3>
					{% spaceless %}
						{% if detailsPage %}
							<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
						{% endif %}

						{{ attribute(record, displayColumn) }}

						{% if detailsPage %}
							</a>
						{% endif %}
					{% endspaceless %}
			</h3>
			</li>
		{% else %}
			<li class="no-data">{{ noRecordsMessage }}</li>
		{% endfor %}
	</ul>
</div>

{% if records.lastPage > 1 %}
<nav aria-label="Page navigation example">
    <div class="text-xs-center">
        <ul class="pagination justify-content-center">
            {% if records.currentPage > 1 %}
                <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Previous</a></li>
            {% endif %}

            {% for page in 1..records.lastPage %}
                <li class="page-item {{ records.currentPage == page ? 'active' : null }}">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if records.lastPage > records.currentPage %}
                <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}