title = "Genres détail"
url = "/genre/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Louisjullien\Movies\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "genre_title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% put jumbotron %}

	<div class="container text-xs-center">
		{% placeholder jumbotron default %}
		<h1 class="display-3">Page de genres</h1>
		<p class="lead">Films en fonction du genre.</p>
		{% endplaceholder %}
	</div>

{% endput %}

{% if record %}
    <div class="pagegenre">
        <div class="sf">
            <h3> {{ attribute(record, displayColumn) }} </h3>
        </div>

        {% for movie in record.movies %}
            <div class="icons">
                <i class="fa fa-circle"></i> {{ movie.name }}<br>
            </div>
        {% endfor %}
    </div>
    {% else %}
        {{ notFoundMessage }}
    {% endif %}