title = "homepage"
url = "/"
layout = "default"
is_hidden = 0
==
{% put jumbotron %}
  <h1 class="display-3">Site de test pour October CMS</h1>
  <p class="lead">Juste un simple site de test pour October CMS</p>
  <p>On va dire que ici je teste des choses</p>
{% endput %}

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quas cum in quod odit a vitae. Incidunt aperiam culpa eos laudantium deleniti aut, molestias ut deserunt enim tenetur minus sunt.</p>