title = "Movies"
url = "/movies/:page?"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Louisjullien\Movies\Models\Movie"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "movie-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 5
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% put jumbotron %}

<link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">

		<div class="container text-xs-center">
			{% placeholder jumbotron default %}
			<h1 class="display-3">Page de films</h1>
			<p class="lead">Ici je partage mes films préférés.</p>
			{% endplaceholder %}
		</div>

{% endput %}
<ul class="record-list">
    {% for record in records %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            <h3>
                {% spaceless %}
                    {% if detailsPage %}
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                    {% endif %}

                    {{ record.name }}

                    {% if detailsPage %}
                        </a>
                    {% endif %}
                {% endspaceless %}
            </h3>

            <div class="genre">
                {% for genre in record.genres %}
                    {{ genre.genre_title }}
                {% endfor %}
            </div>
            <p>
            {{ html_limit(record.description, 150)|raw }}
            </p>
        </li>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</ul>

{% if records.lastPage > 1 %}
<nav aria-label="Page navigation example">
    <div class="text-xs-center">
        <ul class="pagination justify-content-center">
            {% if records.currentPage > 1 %}
                <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Previous</a></li>
            {% endif %}

            {% for page in 1..records.lastPage %}
                <li class="page-item {{ records.currentPage == page ? 'active' : null }}">
                    <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if records.lastPage > records.currentPage %}
                <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}