title = "Movie single"
url = "/movie/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Louisjullien\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% put jumbotron %}

	<div class="container text-xs-center">
		{% placeholder jumbotron default %}
		<h1 class="display-3">Page de films</h1>
		<p class="lead">Ici je partage mes films préférés.</p>
		{% endplaceholder %}
	</div>

{% endput %}

{% if record %}
    <img class="poster" src="{{record.poster.thumb(200,auto)}}">
    <div class="nom">
        <h2> {{ record.name }} </h2>
    </div>

    <h5> Année de sortie: {{ record.year }} </h5>
    <p></p>

    <h5> Réalisateur(s) du film: {{ record.realisateur }} </h5>
    <p></p>

    <h5> Genre du film: 
        {% for genre in record.genres %}
            <a href="/genre/{{ genre.slug }}">{{ genre.genre_title }}</a>
        {% endfor %}
    </h5>
    

    <div class="desc">
    <h3> Description </h3>
    </div>
    {{record.description|raw }}

    <div class="nom">
        <h3> Galerie</h3>
    </div>
    <p></p>

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color: black;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for image in record.movie_gallery %}
        
                {% if loop.index == 1 %}
                    <div class="carousel-item active" style="width:100%;">
                        <img src="{{ image.thumb(auto,auto) }}">
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <img src="{{ image.thumb(auto,auto) }}">
                    </div>
                {% endif %}
                {% endfor %}
            </div>

        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>

    <br>
    <br>

{% else %}
    {{ notFoundMessage }}
{% endif %}