description = "The Jumbotron"
==
<section id="jumbotron" class="m-t-3">
	<div class="jumbotron">
		<div class="container text-xs-center">
			{% placeholder jumbotron default %}

			{% endplaceholder %}
		</div>
	</div>
</section>