description = "Navigation bar"
==
<section id="navbar" class="m-b-3">
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="http://exerciceoctober.test/">
				<img src="https://yt3.ggpht.com/a/AATXAJxdg14Mk3sic90yAwjGX_-qMsXetF_4gNTFOg=s100-c-k-c0xffffffff-no-rj-mo" width="30" height="30" class="d-inline-block align-top" alt="">
				Site de test</a>
			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item{{ this.page.baseFileName == 'movies' ? ' active' }}">
					<a class="nav-link" href="http://exerciceoctober.test/movies">Movies</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'genres' ? ' active' }}">
					<a class="nav-link" href="http://exerciceoctober.test/genres">Genres</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'blog' ? ' active' }}">
					<a class="nav-link" href="http://exerciceoctober.test/blog">Blog</a>
				</li>
			</ul>
		</div>
	</nav>
</section>