/*  Icones du site*/
.fa:hover{
    filter: brightness(50%);
}

.fa{
    color: #5A4181;
}
/* Footer de la page */
.main-footer{
    text-align: center;
}

.m-t-2 > .jumbotron{
    margin-bottom: 0px;
    border-top: 3mm ridge rgb(70, 66, 71);
    padding-bottom: 10px;
    padding-top: 30px;

}
/*  Liste des films et différents liens*/
li{
    list-style-type: none;
}

li > h3 > a{
    color: #5A4181;
}

li > h3 > a:hover{
    color: #5A4181;
    filter: brightness(65%);
}

p > a{
    color: #5A4181;
}

p > a:hover{
    color: #5A4181;
    filter: brightness(65%);
}

.nom{
    color: #5A4181;
    padding-bottom: 0px;
}

.desc{
    color: #5A4181;
    clear:both;
}

.genre{
    color: #ab84e8;
}

h5 > a{
    color: #5A4181;
}

h5 > a:hover{
    color: #5A4181;
    filter: brightness(65%);

}

.sf{
    color: #5A4181;
}

.pagegenre{
    text-align: center;
}

.films{
    text-align: center;
}
/* Pagination de la page des films*/
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:hover{
    color: #5A4181;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}
/* Image du film*/
.poster{
    float: right;
    border-radius: 5%;
}
/* Icones et positionnement du carousel*/
.fa-chevron-right, .fa-chevron-left {
    color: #5A4181;
    position: absolute;
    top: 50%;
}
  
.carousel-indicators li {
    border-color: #5A4181;
}
  
.carousel-indicators li.active {
    background-color: #5A4181;
}
  
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
  
.item span {
    font-style: normal;
}

/* Logo du site*/
.d-inline-block {
    border-radius: 70%;
  }
